body {
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 300;
}
body#destination {
	background: #000;
	color:#fff;
	padding: 0;
}
a {
  color: #00B7FF;
}
.selectorHolder {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.temp {
  width: 50px;
height: 50px;
border-radius: 100%;
border: #A1EB87 5px solid;
display: block;
color: #A1EB87;
position: relative;
margin-left: auto;
margin-right: auto;
background-color: #fff;
transform: translateY(-350%);
}
.temp2 {
  width: 150px;
font-size: 18px;
position: relative;
text-align: center;
top: 50%;
transform: translateY(-50%);
display: block;
margin: 0 auto;
}
.selectorHolder .backBtn {
  position: absolute;
  cursor: pointer;
}
.optionBox {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: #A1EB87 5px solid;
  display: inline-block;
  background-color: rgba(32,32,32,.4);
  color: #A1EB87;
  cursor: pointer;
}
.optionBox.right {
  position: absolute;
}
.passionTitle {
  text-align: center;
  margin-bottom: 25px;
}
.selectedAnswer {
  background-color: rgba(255,255,255,.6) !important;
  color: #000 !important;
}
#divider p {
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  font-style: italic;
  font-size: 20px;
  left: -2.5%;
}
/** Global Elements**/
.center {
	text-align: center;
	margin: 35px 10px;
}
.clear {
	clear:both;
}
.panel-container {
	margin: 0 auto;
	max-width: 1280px;
	padding: 30px;
}
button {
	background: #00a3e0;
	color: #fff;
	padding: 12px;
	border:0;
}
h1, h2 {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -1px;
}

/**Header**/
header {
	background: #424548;
	color:#86bc25;
	padding: 15px 0;
	border-top: 2px solid #53565a;
}
header a {
	color: #fff;
}
header a:hover {
	color: #86bc25;
	text-decoration: none;
}
header > .panel-container {
	background: transparent;
	padding:0;
	color:#86bc25;
}
#navlegend > .panel-container {
	background: transparent;
	color:#fff;
	padding:10px 0;
}
#leftnav {
    float: left;
    width: 50%;
		line-height: 25px;
		font-weight: bold;
}
#leftnav a {
	  margin:0 5px;
}
.logo {
    width: 18%;
		margin-right: 30px;
}
#rightnav {
    float: right;
    width: 50%;
		text-align: right;
		line-height: 25px;
		font-weight: bold;
}
#rightnav a {
	  font-weight: normal;
		margin: 0 4px 0 4px;
}
.navlegend {
    display: inline;
    list-style: outside none none;
}
.navlegend > li {
    background: #27292b;
    color: #999;
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
		font-size: 15px;
}
#navlegend span {
    font-size: 22px;
}

/**Welcome**/
#welcome  {
		background: #f3f3f4;
		color: #53565a;
		font-size: 17px;
		font-weight: 300;
		-moz-box-shadow: inset  0 -6px 20px -8px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: inset  0 -6px 20px -8px rgba(0, 0, 0, 0.3);
		 box-shadow: inset  0 -6px 20px -8px rgba(0, 0, 0, 0.3);
}
#welcome ul {
    list-style: outside none none;
}
#welcome li {
    font-size: 15px;
    padding: 10px 0 10px 60px;
    position: relative;
}
#welcome li:first-child::before {
    background: #c4d600;
    border-radius: 100px;
    color: #fff;
    content: "1";
    font-size: 50px;
    font-weight: bold;
    left: -40px;
    padding: 5px 25px;
    position: absolute;
}
#welcome li:first-child span {
		 color:#c4d600;
		 font-weight: bold;
}
#welcome li:nth-child(2n)::before {
    background: #86bc25;
    border-radius: 100px;
    color: #fff;
    content: "2";
    font-size: 50px;
    font-weight: bold;
    left: -40px;
    padding: 5px 25px;
    position: absolute;
}
#welcome li:nth-child(2n) span {
		 color:#86bc25;
		 font-weight: bold;
}
#welcome li:nth-child(3n)::before {
    background: #0097a9;
    border-radius: 100px;
    color: #fff;
    content: "3";
    font-size: 50px;
    font-weight: bold;
    left: -40px;
    padding: 5px 25px;
    position: absolute;
}
#welcome li:nth-child(3n) span {
		 color:#0097a9;
		 font-weight: bold;
}
.introleft {
	width: 47%;
	float:left;
}
.introright {
	width: 45%;
	float: right;
}
.wicon {
    margin: 10px 0;
    width: 25%;
}
.introright > p {
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    margin: 0 0 50px;
    width: 70%;
}

/**Meet Our People**/
#people {
	background: #ddefe8;
	color:#000;
    -moz-box-shadow: inset  0 -6px 20px -8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset  0 -6px 20px -8px rgba(0, 0, 0, 0.3);
     box-shadow: inset  0 -6px 20px -8px rgba(0, 0, 0, 0.3);
}
#people h2 {
	color: #007680;
}
.people-box {
    float: left;
    margin-right: 1%;
    position: relative;
    width: 49%;
}
.people-box.second {
	margin-right:0;
}
.people-box img {
	width:100%;
}
.people-box .icon img {
    border: 9px solid #ddefe6;
    border-radius: 77px;
		width:90%;
}
#people .icon {
    position: absolute;
    right: 15px;
    top: 200px;
}
.quote {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 65px;
    width: 64%;
    z-index: 9999;
}
.quoteby {
	font-size: 15px;
	font-style: italic;
	font-weight:normal;
	text-align:right;
}
.about {
    background: #a0dcff;
    margin: 10px 0;
    padding: 30px;
		min-height: 269px;
}
.factwrapper {
	clear:both;
}
.fact {
    float: left;
    font-size: 13px;
    width: 25%;
		font-weight: bold;
		margin:2px 0;
}
.facta {
    float: right;
    font-size: 13px;
    width: 75%;
		margin: 2px 0;
}
.peoplefooter {
    background: #9dd4cf;
		margin-top: 20px;
		padding: 20px 5px 20px 15px;
		position: relative;
		color:#fff;
}
.peoplefooter .footer-heading > img {
    border: 9px solid #ddefe8;
    border-radius: 77px;
    position: absolute;
    top: -20px;
}
.pf-heading {
    font-size: 21px;
		line-height: 20px;
    font-weight: bold;
		margin-right:8px;
}
.footer-heading {
    float: left;
    width: 24%;
}
.footer-content {
	font-size: 13px;
}
.biobtn {
    background: #fff;
    padding: 2px 15px;
		margin:0 5px 0 10px;
}
.biobtn a {
	color:#9dd4cf;
	font-weight:bold;
}
.biobtn a:hover {
	color:#9dd4cf;
	text-decoration:none;
}

/**Professional Development**/
#prodev {
	background: #f3f3f4;
	color:#53565a;
	padding: 30px 0;
}
.rightbox {
    float: right;
    width: 48%;
}
.leftbox {
    float: left;
    width: 48%;
}
.caption {
    font-style: italic;
    margin: 15px 0 10px;
    width: 65%;
}
.caption img {
    float: left;
    margin: 0 15px 0 0;
    text-align: left;
    width: 18%;
		vertical-align: middle;
}
.prodevintro {
    font-size: 19px;
		font-weight: 500;
}

/** Career Snapshot **/
#ccnapshot {
	background: #000;
	color:#fff;
}
.leftwide {
    float: left;
    width: 70%;
}
.rightthin {
    float: right;
    width: 25%;
}
#csnapshot ul {
	padding:0;
	list-style: none;
}
#csnapshot li:first-child strong {
    color: #c4d600;
}
#csnapshot li:nth-child(2n) strong {
		 color:#86bc25;
}
#csnapshot li:nth-child(3n) strong {
		color:#0097a9;
	}
#csnapshot li:nth-child(4n) strong {
			color:#6fc2b4;
}
.leftwide li {
    border-right: 1px solid #75787b;
    float: left;
    margin-right: 2%;
    padding-right: 2%;
    width: 28%;
}
.leftwide li:last-child {
    border-right: 0;
    float: left;
    margin-right:0;
    padding-right: 0;
    width: 28%;
}

/** Leading Thoughts **/
#lthoughts {
	background: #ddefe8;
	color:#000;
}
#lthoughts h2 {
	color:#005587;
	width:30%;
}
.lead-thoughts-box {
    margin-top: 15px;
}
.ltimage {
    float: left;
    width: 8%;
}
#lthoughts .icon {
    width: 75%;
}
.ltcontent {
    float: right;
    width: 90%;
		font-style: italic;
}
.ltcontent a {
			color:#00879e;
}
#lthoughts h4 {
    margin: 2px 0 0;
		color:#00879e;
		font-weight:bold;
		font-style: normal;
}
/** Opportunites & Resources**/
#opportunities h2 {
    width: 21%;
}
.right-flag {
	background: rgba(42,107,23,0.6);
	padding:15px;
}
.right-flag {
    background: rgba(42, 107, 23, 0.6);
    padding: 15px;
}
.imageflag {
    float: left;
    width: 11%;
}
.imageflag > img {
	width:100%;
}
.contentflag {
    float: right;
    width: 85%;
}

/** Another Fit **/
#anotherfit {
	background: #f3f3f4 ;
	color: #000;
}

/**Footer**/
footer {
	background: #86bc25;
	color:#fff;
	padding-bottom:50px;
}
footer h2 {
    font-size: 56px;
    text-align: center;
}
footer a {
	color: #fff;
	font-style: italics;
	font-weight: bold;
}
footer a:hover {
	text-decoration: none;
	color:#fff;
	font-weight: normal;
}
footer .social i {
    background: #fff;
    border-radius: 80px;
    color: #86bc25;
    padding: 8px 10px;
}
footer .social {
    float: left;
    margin-left: 3%;
    width: 35%;
}
.social > a {
    margin-left: 15px;
}
.footerwrapper {
    margin-top: 30px;
}
.campus {
    border-right: 1px solid #fff;
    float: left;
    line-height: 13px;
    margin-left: 14%;
    padding-right: 15px;
    width: 35%;
}
.campus > img {
    width: 15%;
}
.campus-copy {
    float: right;
    line-height: 18px;
    margin-top: 12px;
    vertical-align: middle;
    width: 58%;
}

/**Progress**/
.st0{fill:#58595B;}
.st1{fill:none;}

