body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body#destination {
	background: #000;
	color:#fff;
	padding: 50px 0;
}
a {
  color: #00B7FF;
}

.selectorHolder {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.temp {
  width: 50px;
height: 50px;
border-radius: 100%;
border: #A1EB87 5px solid;
display: block;
color: #A1EB87;
position: relative;
margin-left: auto;
margin-right: auto;
background-color: #fff;
transform: translateY(-350%);
}

.temp2 {
  width: 150px;
font-size: 18px;
position: relative;
text-align: center;
top: 50%;
transform: translateY(-50%);
display: block;
margin: 0 auto;
}

.selectorHolder .backBtn {
  position: absolute;
  cursor: pointer;
}

.optionBox {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: #A1EB87 5px solid;
  display: inline-block;
  background-color: rgba(32,32,32,.4);
  color: #A1EB87;
  cursor: pointer;
}

.optionBox.right {
  position: absolute;
}

.passionTitle {
  text-align: center;
  margin-bottom: 25px;
}

.selectedAnswer {
  background-color: rgba(255,255,255,.6) !important;
  color: #000 !important;
}

#divider p {
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  font-style: italic;
  font-size: 20px;
  left: -2.5%;
}

/** Global Elements**/
.clear {
	clear:both;
}
.panel-container {
	margin: 0 auto;
	max-width: 1280px;
	background: #fff;
	padding: 30px;
	color: #000;
}

header > .panel-container {
	background: transparent;
	padding:0;
}
#navlegend > .panel-container {
	background: transparent;
	color:#fff;
	padding:10px 0;	
}

/**Header**/
header {
	background: #424548;
	color:#86bc25;
	padding: 10px 0;
}
header a {
	color: #fff;
}
header a:hover {
	color: #86bc25;
	text-decoration: none;
}
#leftnav {
    float: left;
    width: 50%;
		line-height: 20px;
}
.logo {
    width: 18%;
		margin-right: 20px;
}
#rightnav {
    float: right;
    width: 50%;
		text-align: right;
		line-height: 20px;
}