body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.selectorHolder {
  width: 600px;
}

.temp {
  width: 50px;
height: 50px;
border-radius: 100%;
border: #A1EB87 5px solid;
display: block;
color: #A1EB87;
position: relative;
margin-left: auto;
margin-right: auto;
background-color: #fff;
transform: translateY(-350%);
}

.temp2 {
  width: 150px;
font-size: 18px;
position: relative;
text-align: center;
top: 50%;
transform: translateY(-50%);
display: block;
margin: 0 auto;
}

.selectorHolder .backBtn {
  position: absolute;
  cursor: pointer;
}

.optionBox {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: #A1EB87 5px solid;
  display: inline-block;
  background-color: rgba(32,32,32,.4);
  color: #A1EB87;
  cursor: pointer;
}

.optionBox.right {
  position: absolute;
}

.selectedAnswer {
  background-color: rgba(255,255,255,.6) !important;
  color: #000 !important;
}

#divider p {
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  font-style: italic;
  font-size: 20px;
  left: -2.5%;
}
