<nav class="navbar navbar-inverse navbar-fixed-top" style="padding:5px;">
    <div class="navbar-header">
      <a style="padding-left: 200px; margin-top: 2px;" class="navbar-brand" href="#"><img src="http://cycling.deloitte.com/img/logo-white.png" style="width: 125px"/></a>
    </div>

    <ul class="nav navbar-nav navbar-left" style="padding-top: 6px" >
        <li><a style="padding-top: 0; padding-bottom: 0; padding-left: 50px; border-right: 1px solid #8ABF2C; padding-right: 30px; color: #fff" class="navbar-text">About</a></li>
        <li><a class="navbar-text" style="padding-top: 0; padding-bottom: 0; padding-left: 0px; color: #fff">Explore</a></li>
    </ul>


    <ul class="nav navbar-nav navbar-right" style="padding-right: 200px; padding-top: 5px;">
        <li><h5 class="navbar-text navbar-right" style="padding-top: 2.5px; padding-bottom: 0; color: #8ABF2C;">I Know Where I Fit: </h5></li>
        <li><a style="padding-top: 0; padding-bottom: 0; padding-left: 15px; border-right: 1px solid #8ABF2C; padding-right: 30px; color: #fff" class="navbar-text">Internships</a></li>
        <li><a class="navbar-text" style="padding-top: 0; padding-bottom: 0;  padding-left: 0px; color: #fff">Jobs</a></li>
    </ul>
</nav>
