<!DOCTYPE html>
<html>
  <head>
    <title>ADVISORY PAGE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- /* include ../partials/navbar.ejs */ %>
			<div id="welcome">
				<div class="panel-container">
						<h1>Welcome to Deloitte Advisory</h1>

						Deloitte Advisory employs more than 11,000 professionals in the U.S. We serve all 15 federal cabinet departments and 95 percent of the Fortune 1000, across nearly every industry and sector you can imagine.

						Advisory is always high stakes and often high pressure. It calls for people who are confident and incisive; who think quickly, but act deliberately; who can focus on the moment despite, or even because of, its magnitude; and who look at what’s negative and see opportunity for strategic advantage.

						In Advisory, one of the first questions you may want to ask yourself is do you prefer public or private sector work? Let’s start with public. Our federal practice is big and growing. We work extensively with agencies doing important work in education, defense, intelligence, health care, environmental protection, energy and more—issues that impact all aspects of American life. The private sector is no less enticing. We engage with companies that make headlines and drive change in the world. With our help they become more competitive and resilient in the face of cyber threats, disruptive technologies, seismic market shifts, global competition and even criminal activity.

						In either sector, our goal is to identify risk and use it to power performance. Our work can be proactive—for example, we might implement controls that flag questionable transactions for a multinational bank or identify risk in a merger of two aggressive competitors. Our work can also be reactive—for example, we may step into the maw of a data breach that compromised patient information or conduct a forensic audit to inform a restructure following bankruptcy.

						<h2>Three market segments to explore</h2>
						Financial Transactions: There’s no such thing as a risk-free deal. Advisors in this area study mergers, acquisitions, restructures, transformations, corporate values and more to ensure that clients not only understand the risks of making a deal or changing their operations, but can also turn those risks to their advantage.

						Regulatory Forensics &amp; Compliance: A combination of investigation and assurance, this segment encompasses audit, regulatory compliance and forensic work. In short, you investigate issues—even crimes—and work to mitigate them and improve future performance.

						Risk &amp; Resilience: This segment of Advisory is data heavy and opportunity rich. It includes (for starters) helping clients become more secure in the face of dynamic technological and market changes.

						<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=420%C3%97260&w=420&h=260" border="0" />
						<a href="http://www2.deloitte.com/us/en/pages/advisory/solutions/deloitte-advisory.html" target="_blank"><button>EXPLORE: Advisory Services</button></a>
				</div><!-- .panel-container -->
			</div><!-- #welcome-->

			<div id="people">
				<div class="panel-container">

				</div><!-- .panel-container -->
			</div><!-- #people-->


			<div id="prodev">
				<div class="panel-container">

				</div><!-- .panel-container -->
			</div><!-- #prodev-->

			<div id="csnapshot">
				<div class="panel-container">

				</div><!-- .panel-container -->
			</div><!-- #csnapshot-->

			<div id="lthoughts">
				<div class="panel-container">

				</div><!-- .panel-container -->
			</div><!-- #lthoughts-->

			<div id="opportunities">
				<div class="panel-container">

				</div><!-- .panel-container -->
			</div><!-- #opportunities-->


	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
