<!DOCTYPE html>
<html>
  <head>
    <title>ADVISORY PAGE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="destination">
    <%- /* include ../partials/navbar.ejs */ %>
		<header>
			<div class="panel-container">
				<div id="leftnav">
					<img class="logo" src="../images/logo.png" border="0" /> <a href="" target="_blank">About</a> | <a href="" target="_blank">Explore</a>
				</div>
				<div id="rightnav">
					I Know Where I Fit: <a href="" target="_blank">Internships</a> | <a href="" target="_blank">Jobs</a>
				</div>
				<div class="clear"></div>
			</div><!-- .panel-container -->
		</header>
		<div id="navlegend">
			<div class="panel-container">
				Explore Your Fit  Welcome  Meet Our People  Professional Development  Thought Leadership Opoortunities &amp; Resources  Another Potential Fit
				</div><!-- .panel-container -->
		</div><!-- #navlegend-->
			<div id="welcome">
				<div class="panel-container">
						<h1>Welcome to Deloitte Advisory</h1>

						Deloitte Advisory employs more than 11,000 professionals in the U.S. We serve all 15 federal cabinet departments and 95 percent of the Fortune 1000, across nearly every industry and sector you can imagine.

						Advisory is always high stakes and often high pressure. It calls for people who are confident and incisive; who think quickly, but act deliberately; who can focus on the moment despite, or even because of, its magnitude; and who look at what’s negative and see opportunity for strategic advantage.

						In Advisory, one of the first questions you may want to ask yourself is do you prefer public or private sector work? Let’s start with public. Our federal practice is big and growing. We work extensively with agencies doing important work in education, defense, intelligence, health care, environmental protection, energy and more—issues that impact all aspects of American life. The private sector is no less enticing. We engage with companies that make headlines and drive change in the world. With our help they become more competitive and resilient in the face of cyber threats, disruptive technologies, seismic market shifts, global competition and even criminal activity.

						In either sector, our goal is to identify risk and use it to power performance. Our work can be proactive—for example, we might implement controls that flag questionable transactions for a multinational bank or identify risk in a merger of two aggressive competitors. Our work can also be reactive—for example, we may step into the maw of a data breach that compromised patient information or conduct a forensic audit to inform a restructure following bankruptcy.

						<h2>Three market segments to explore</h2>
						Financial Transactions: There’s no such thing as a risk-free deal. Advisors in this area study mergers, acquisitions, restructures, transformations, corporate values and more to ensure that clients not only understand the risks of making a deal or changing their operations, but can also turn those risks to their advantage.

						Regulatory Forensics &amp; Compliance: A combination of investigation and assurance, this segment encompasses audit, regulatory compliance and forensic work. In short, you investigate issues—even crimes—and work to mitigate them and improve future performance.

						Risk &amp; Resilience: This segment of Advisory is data heavy and opportunity rich. It includes (for starters) helping clients become more secure in the face of dynamic technological and market changes.

						<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=420%C3%97260&w=420&h=260" border="0" />
						<p class="center"><a href="http://www2.deloitte.com/us/en/pages/advisory/solutions/deloitte-advisory.html" target="_blank"><button><strong>EXPLORE:</strong> Advisory Services</button></a></p>
				</div><!-- .panel-container -->
			</div><!-- #welcome-->

			<div id="people">
				<div class="panel-container">
					<h2>Meet Our People</h2>

					<!-- PERSON 1 -->
					<div class="people-box">
						<img src="https://placeholdit.imgix.net/~text?txtsize=25txt=665%C3%97318&w=665&h=318" border="0" />
						<div class="quote">As long as it's solving a client need. There's nothing limiting you from doing the work you want to do, here.</div>
						<div class="icon"><img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=138%C3%97138&w=138&h=138" border="0" /></div>
						<div class="about">
							<div class="fact">Meet</div>
							<div class="facta">Lauren Boas Hayes</div>

							<div class="fact">Role</div>
							<div class="facta">Senior Consultant, Fourth Year</div>

							<div class="fact">Work</div>
							<div class="facta">Assesses and prevents future cyber breaches as part of our vigilant team.</div>

							<div class="fact">Secret power</div>
							<div class="facta">Wicked-fast decision-making skill honed as a competitive luger.</div>

							<div class="fact">Recent highlight</div>
							<div class="facta">Worked on two major breaches for huge companies that were headline news.</div>

							<div class="fact">Surprising fact</div>
							<div class="facta">Lauren had no hard-core technical expertise when she landed the job.</div>

							<div class="fact">Why Deloitte</div>
							<div class="facta">Opportunity to direct her own career.</div>
						</div><!-- .about -->
					</div><!-- .people-box -->


						<!--- PERSON 2 -->
						<div class="people-box">
							<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=665%C3%97318&w=665&h=318" border="0" />
							<div class="quote">“I try to connect with people and make them feel like they are part of the team.</div>
							<div class="icon"><img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=138%C3%97138&w=138&h=138" border="0" /></div>
							<div class="about">
								<div class="fact">Meet</div>
								<div class="facta">Lee Richardson</div>

								<div class="fact">Role</div>
								<div class="facta">Federal Practice Manager, in year seven</div>

								<div class="fact">Work</div>
								<div class="facta">Helps federal intelligence agencies become auditable.</div>

								<div class="fact">Also likes</div>
								<div class="facta">Networking. He’s referred 15 new hires to Deloitte.</div>

								<div class="fact">Previous jobs</div>
								<div class="facta">Navy, Marines and PwC.</div>

								<div class="fact">Surprising fact</div>
								<div class="facta">Lee stutters, but he’s overcome it by being gregarious and open with people.</div>

								<div class="fact">Why Deloitte</div>
								<div class="facta">Feels it’s like family. People bond here.</div>
							</div><!-- .about -->
					</div><!--.people-box-->

					<div class="peoplefooter">
						<span class="pf-heading">Advisory Leaders</span> <img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=82%C3%9782&w=82&h=82" border="0" />
						<span class="biobtn"><a href="http://www2.deloitte.com/us/en/profiles/chodgetts.html" target="_blank">Bio</a></span> <strong>Craig Hodgetts</strong> | <em>U.S. National Managing Director</em> | <em>Technology</em>
						<span class="biobtn"><a href="http://www2.deloitte.com/us/en/profiles/oryan.html" target="_blank">Bio</a></span> <strong>Owen Ryan</strong> | <em>Chief Executive Officer</em> | <em>Risk Advisory Practice</em>
					</div><!-- .peoplefooter -->

					<p class="center"><a href="http://www2.deloitte.com/us/en/pages/advisory/solutions/deloitte-advisory.html" target="_blank"><button><strong>MEET:</strong> Advisory Professionals</button></a></p>
				</div><!-- .panel-container -->
			</div><!-- #people-->


			<div id="prodev">
				<div class="panel-container">
					<div class="leftbox">
						<h2>Professional Development</h2>
						<p><em>Deloitte supports professionals in many ways. Early on, that includes direct training on Advisory at Deloitte, Deloitte culture, client leadership, innovative data tools and more—to build your professional foundation. Some of this will happen through your local office, but also you’ll train at Deloitte University within 90 days of your start date.</em></p>

						<p>Beyond this foundation, you'll be assigned a mentor to help guide as you build your network and knowledge base. You'll have ongoing support and input from your managers and senior team members. And you'll be given opportunities to lead, not only with clients but also on Deloitte initiatives such as Impact Day and community events. Finally, as you progress at Deloitte, you'll find many ways to accelerate your career, from programs to help you earn advanced degrees to management development assignments.</p>
					</div><!-- .leftbox -->

					<div class="rightbox">
						<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=415%C3%97277&w=415&h=277" border="0" />
						<div class="caption">
							<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=50%C3%9750&w=50&h=50" border="0" /> Within their first 90 days, all Deloitte new hires attend training at Deloitte University, a dedicated training campus near Dallas, Texas.
						</div><!-- .caption -->
					</div><!-- .rightbox -->

					<p class="center"><a href="http://www2.deloitte.com/us/en/pages/about-deloitte/topics/deloitte-university.html" target="_blank"><button><strong>EXPLORE:</strong> Deloitte University</button></a></p>
				</div><!-- .panel-container -->
			</div><!-- #prodev-->

			<div id="csnapshot">
				<div class="panel-container">
					<div class="leftwide">
						<h2>Career Snapshot</h2>
						<h3>The Yin &amp; Yang of Advisory</h3>
						<strong>YIN:</strong> <em>Techie:</em> Advisory is driven by advanced technology and we do more than a little development of our own. A high level of tech fluency is mandatory.<br />

						<strong>YANG:</strong> <em>Human:</em> Advisors work under pressure. You need to have empathy for the situation and build confidence in those around you, while remaining objective and clear. <br />

						<strong>YIN:</strong> <em>Sudden:</em> Advisory offers engagements that are highly complex, time sensitive and reactive, such as finding fraud or identifying cyber leaks. <br />

						<strong>YANG:</strong> <em>Consistent:</em> Advisory also offers long-term engagements that leverage risk in other ways, such as transforming processes and speeding time to market.  <br />

						<strong>YIN:</strong> <em> Travel:</em> Private sector advisors work off-site alongside their clients and team members, often in distant cities and sometimes other countries. <br />

						<strong>YANG:</strong> <em>Home base:</em> Federal practice advisors work in and around the D.C. area, only occasionally traveling for work.<br />


							<p class="center"><a href="http://www2.deloitte.com/us/en/pages/careers/articles/join-deloitte-advisory-careers.html" target="_blank"><button><strong>EXPLORE:</strong> Advisory Careers</button></a></p>


					</div><!-- .leftwide -->
					<div class="rightthin">
						<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=415%C3%97277&w=415&h=277" border="0" />
					</div><!-- .rightthin -->

				</div><!-- .panel-container -->
			</div><!-- #csnapshot-->

			<div id="lthoughts">
				<div class="panel-container">
					<h2>Leading Thoughts on Advisory and Talent</h2>
					<div class="leftbox">
						<img src="../images/article-download.png" border="0" /> The Flip Side: Exploring the positive side of risk. | This series of articles reveals the Deloitte Advisory perspective. We see risk, look again and find opportunity. <a href="http://www2.deloitte.com/us/en/pages/risk/articles/the-flip-side.html" target="_blank">Articles &raquo;</a><br /><br />

						<img src="../images/play-button.png" border="0" /> Resilient<br />Frank conversations with leading CEOs and executives about navigating risk as a way to power performance. <a href="http://www2.deloitte.com/us/en/pages/risk/articles/resilient-podcast.html" target="_blank">Podcast &raquo;</a><br /><br />

						<img src="../images/article-download.png" border="0" /> Making it millennial<br />See what today's young talent faces out there professionally. <a href="http://dupress.com/articles/making-it-millennial/" target="_blank">Articles &raquo;</a><br /><br />

						<img src="../images/article-download.png" border="0" /> Corporate development strategy<br />Thriving in your business ecosystem | A deeper look at how risk impacts mergers &amp; acquisitions. <a href="http://dupress.com/articles/corporate-development-strategy-survey/" target="_blank">Article &raquo;</a><br /><br />

						<p class="center"><a href="http://www2.deloitte.com/lu/en/pages/careers/articles/career-deloitte-lux.html" target="_blank"><button><strong>EXPLORE:</strong> Deloitte Training</button></a></p>
					</div> <!-- .leftbox -->

					<div class="rightbox">
						<img src="https://placeholdit.imgix.net/~text?txtsize=25&txt=450%C3%97460&w=450&h=460" border="0" />
					</div><!-- .rightbox -->

				</div><!-- .panel-container -->
			</div><!-- #lthoughts-->

			<div id="opportunities">
				<div class="panel-container">
					<h2>Opportunities and Resources</h2>
					<div class="leftbox">
							<p>As an advanced degree student, you have many options to connect with Deloitte. Our internships are true hands-on experiences. You’ll do meaningful work, meet with clients and learn from the best. In addition, we offer a variety of conferences and programs to help you network, gain leadership skills and learn about the impact you can make at Deloitte.</p>

							<p>In addition, Deloitte has numerous full-time positions for advanced degree holders. These exist across our various functions.</p>
							<a href="http://www2.deloitte.com/us/en/pages/careers/articles/join-deloitte-advanced-degree-opportunities.html" target="_blank"><button><strong>Explore:</strong> Advanced degree opportunities</button></a>

							<p>If you’re considering applying for a conference, internship or position at Deloitte, we recommend you check out these resources in addition to doing your homework about our services and careers.</p>
							<a href="http://www2.deloitte.com/us/en/pages/careers/articles/join-deloitte-recruiting-tips-developing-great-resume.html" target="_blank"><button>Resume Tips</button></a>

							<a href="http://www2.deloitte.com/us/en/pages/careers/articles/about-deloitte-careers-interview-tips.html" target="_blank"><button>Interview Tips</button></a>


					</div> <!-- .leftbox -->

					<div class="rightbox">
						<p><img src="../images/lightbulb.png" border="0" /> Deloitte’s culture promotes choice. It’s not uncommon to start in one area of the organization and ultimately find a career-long fit in another.</p>
					</div><!-- .rightbox -->

				</div><!-- .panel-container -->
			</div><!-- #opportunities-->


	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
